{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
            <div class="text-center">
                {% if reader|length != 0 %}
                    <p class="font-weight-bold display-4">
                        Books In Your Bag - {{ reader|length }}
                    </p>
                {% else %}
                    <div class="py-5">
                        <h2 class="display-4 font-weight-bold text-white">
                            Your Bag is currently empty...
                        </h2>
                        <div class="d-flex justify-content-center pt-3">
                            <a href="{% url 'books' %}" class="btn btn-link text-primary">
                                Go to Books page to add books?
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="text-center py-5">
                <div class="table-responsive">
                    <table class="table table-hover bg-white rounded-lg">
                        <tbody>
                            {% for row in reader %}
                                <tr class="border-bottom">
                                    <td class="px-4 py-3">
                                        <img src="{{ row.image }}" alt="books-image" class="img-fluid">
                                    </td>
                                    <td class="px-4 py-3 text-center">
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="font-weight-bold">{{ row.title }}</span>
                                            <span class="text-muted">Written By: {{ row.author }}</span>
                                            <span>Published By, Date: {{ row.publisher }}</span>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 text-right">
                                        <button type="button" class="btn btn-danger" onclick="remove({{ row.id }})">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
