{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Books List</h2>

    <!-- Search Form -->
    <form method="GET" action="{% url 'books' %}">
        <input type="text" name="query" placeholder="Search for books">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} by {{ book.author }}
                <form method="POST" action="{% url 'add_to_bag' book.pk %}">
                    {% csrf_token %}
                    <button type="submit">Add to Bag</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
